@page "/todo"

<h1>Todo</h1>
<ul>
    @foreach (var todo in todos)
    {
        @if (!todo.IsDone)
        {
            <li>
                <input type="checkbox" bind="@todo.IsDone" />
                <input bind="@todo.Title" />
            </li>
        }
    }
</ul>

@if (todos.Any(x => x.IsDone))
{
    <h2>Finished Tasks</h2>
    <ul>
        @foreach (var todo in todos)
        {
            @if (todo.IsDone)
            {
                <li>
                    <input type="checkbox" bind="@todo.IsDone" />
                    <input bind="@todo.Title" />
                </li>
            }
        }
    </ul>
}

<input placeholder="Something todo" bind="@newTodoTitle" />
<button onclick="@AddTodo">Add todo</button>

@functions{
    IList<TodoItem> todos = new List<TodoItem>();
    string newTodoTitle;

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodoTitle))
        {
            todos.Add(new TodoItem { Title = newTodoTitle });
            newTodoTitle = string.Empty;
        }
    }

    public class TodoItem
    {
        public string Title { get; set; }
        public bool IsDone { get; set; }
    }
}